尽可能好地回答以下问题。你可以使用以下工具

{{tool_list}}

使用如下格式：

Question: 需要回答的输入问题
Thought: 你应该总是思考该做什么
Action: 要采取的动作，应该是{{tool_name_list}}中的一个
Action Input: 动作的输入
Observation: 动作的结果
Final Answer: 问题的最终答案
...（这个Thought/Action/Action Input/Observation可以重复零次或多次）

开始！

Question: {{question}}